# Node modules  
node_modules/  
npm-debug.log  
package-lock.json  

# Environment variables  
.env  

# Logs  
logs  
*.log  
npm-debug.log*  
yarn-debug.log*  
yarn-error.log*  
pnpm-debug.log*  
lerna-debug.log*  

# Editor-specific files  
.vscode/  
.idea/  
.DS_Store  

# Docker-related files  
docker-compose.override.yml  
